.us-flag {visibility: hidden !important;}.loc-us {visibility: visible !important;}.bg-warning h4, .bg-warning {color: #000000 !important;}.bg-warning small {color: maroon !important;}h4 a {color:black;}.rounded-circle {border:1px solid black;}
  li  {list-style-type: none !important;}
 
.read_more_container
{display:none !important;}

 

.Base-hb  
{display: none !important;}

  .flag-icon:not(.flag-icon-pk):not(.flag-icon-us):not(.flag-icon-gb)  
 {
     display:none !important;
 
  }

   .mdi-check-circle:not(.va-varified)   
 {
     display:none !important;
 
  }
 
 
  ul.includes li:not(.time-hbshow) {
        display: none !important;}
        
  /*   ul.includes li:not(.time-hb) {
        display: none !important;}
    */
    
     ul.available li:not(.time-hbshow) {
        display: none !important;
        height: 15px !important;
         
         
     }
    
    
 
    
    .tags {list-style-type: none; margin:0px; padding:0px;}

.card 
{margin-bottom:25px !important;}

    
    h4 a {
color:black;

    }

    .rounded-circle
    {
  border:1px solid #d3d3d3;  

    }

    /* custom css */
    .hidesource
    {display:none !important;}


   .mdi-check-circle:not(.mdi-star-circle):not(.va-varified)      
 {
     display:none !important;
 
  }
  
  /* Exclude New Tags From Skill(s) */ 


   ul.skill .time-skill, ul.skill li.faisalabad-skill, ul.skill .Pakistan-skill, ul.skill .mdi-whatsapp-skill, ul.skill .star-skill, ul.skill .featured-skill, ul.skill .pk-skill,
ul.skill .mdi-facebook-skill
{display:none !important;}
  
   /* // Exclude New Tags From Skill(s) */ 


  .popover-body {padding:0px !important;
      
      margin:0px 8px 0px 0px !important;
      
  }
      /* ADD New Location */ 

    ul.location li:not(.faisalabad-skill):not(.Lahore-skill):not(.multan-skill):not(.On-Site-skill)
    
    {
        display: none !important;}

